@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{box-sizing:border-box}

body{
  margin:0;
  padding:0;
  font-family: "open sans", HelveticaNeue, "Helvetica Neue", Helvetica-Neue, Helvetica, Arial, sans-serif;
  text-align: center;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5{
  font-family: "playfair display", HelveticaNeue, "Helvetica Neue", Helvetica-Neue, Helvetica, Arial, sans-serif;
}
p,li{
  font-size: 15px;
  line-height: 1.7;
}
/* Start Navbar*/
.nav{
  position: fixed;
  width:100%;
  background-color: white;
}
.nav .container{
  margin: 0 20%;
}
.nav span{
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 48px;
}
.nav span:hover{
  border-bottom: 3px solid #0bb2bb;
}
.nav span:hover a{
  color:#0bb2bb;
}
.nav a{
  color:gray;
  text-transform: uppercase;
  font-weight: 600;
}
.nav .active{
  border-bottom: 3px solid #0bb2bb;
}
.nav .active a{
  color:#0bb2bb;
}
/* End Navbar*/


/* Start Cover*/
.cover{

  overflow: hidden;
}
.cover .container{
  height:75vh;
}
.cover img{
  width: 100%;
  background-size: cover;

}
/* End Cover*/

/* Start section1*/
.sec1{
  color: #002324;
}
.sec1 .container{
  padding: 40px 25%;
}

.sec1 h1{
  font-size:36px;
}
.sec1 p{
  font-size: 15px;
  line-height: 1.7;
}
/* End section1*/


/* Start sec*/

.sec .container{
  background-color: #F8F8F8;
  text-align: left;
}
.sec .container::after{
  content: "";
  clear: both;
  display: table;
}
.sec .box-6{
  width:50%;
  float: left;
}
.sec .box-6 img{
  width: 100%;
  min-height: 350px;
  display: cover;
  display: block;
}
.sec .content{
  padding: 50px;
}

.sec p, .sec li{
  font-size: 15px;
  line-height: 1.7;
}
/* End sec*/

/* Start footer*/
.footer{
  background-color: #09a2aa;
  color: #fff;
}
.footer .container{
  padding: 40px 15% 10px;
}
.footer h4{
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 600;
}
.footer p{
  margin: 0 0 10px;
}
.footer a{
  font-size: 32px;
  padding: 10px;
  color: white;
}
.footer hr{
  margin: 30px 0 20px;
}
.footer .face:hover{
  color:#036CE4;
}
.footer .whats:hover{
  color: #01E675;
}
.footer .utube:hover{
  color: #FF0000;
}
/* End footer*/

/* Responsive */
@media(max-width: 575px){
  .nav .container{
    margin: 0 ;
  }
  .nav span{
    padding: 20px 12px;
  }
  .cover .container{
    height: auto;
  }
  .sec1 .container{
    padding: 40px 15%;
  }
  .sec .container {
    display: flex;
    flex-direction:column
  }
  .sec .box-6{
    width:100%;
  }
  .sec .box-6.odd{
    order:1;
    -webkit-order: 1;
  }
  .sec .box-6.even{
    order:2;
    -webkit-order: 2;
  }
  .sec .full-text { display: inline-block; }
  .sec .short-text { display: none; }


}
@media(min-width: 576px){
  .nav .container{
    margin: 0 5%;
  }
  .cover .container{
    height: auto;
  }
  .sec1 .container{
    padding: 40px 15%;
  }
  .sec .container {
    display: block;
    flex-direction: row;
  }
  .sec .box-6{
    width:50%;
  }
  .sec .short-text { display: inline-block; }
  .sec .full-text { display: none; }
}

@media(min-width: 882px){
  .cover .container{
    height: 100vh;
  }
  .sec1 .container{
    padding: 40px 20%;
  }
  .sec .container {
    display: block;
    flex-direction: row;
  }
  .sec .box-6{
    width:50%;
  }
  .sec .short-text { display: inline-block; }
  .sec .full-text { display: none; }
}
@media(min-width: 992px){

  .sec1 .container{
    padding: 40px 25%;
  }

  .sec .box-6{
    width:50%;
  }

}
@media(min-width: 1200px){

  .sec .full-text { display: inline-block; }
  .sec .short-text { display: none; }

}
/* Responsive */
